<div class="col-lg-12 row">
    <div class="col-md-12 mb-3">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">
            Formulario de Ficha Técnica | Gestión de Incidencias
          </h5>
          <div class="widget-controls"> 
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
            <!-- <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> -->
          </div> 
        </div>
        <div class="card-body widget-body bg-light">
          <form action="" class="container row">
            <div class="input-group col-md-4">
              <label for="" class="label-form">Número de Orden de Trabajo: &nbsp;</label>
              <input type="number" 
                class="form-control" 
                id="Orden" 
                name="Orden" 
                #Orden 
                (change)="setOrden(Orden.value)"
                (keyup)="setOrden(Orden.value)"
                >
            </div>
            <div class="input-group col-md-4 mb-3">
              <label for="" class="label-form">Condcutor: &nbsp;</label>
              <input type="text" 
              id="Conductor" 
              class="form-control"
              [class.is-valid]="viewedConductor && viewedConductor._id"
              [class.is-invalid]="!(viewedConductor && viewedConductor._id)"
              list="ConductoresList"
              (change)="viewedConductor = undefined; viewedConductor = setConductor(Conductor.value)"
              (keyup)="viewedConductor = undefined; viewedConductor = setConductor(Conductor.value)"
              name="Conductor"
              #Conductor
              >
              <datalist id="ConductoresList">
                <option *ngFor="let conductor of Conductores" value="{{conductor.Ci}}">{{conductor.Nombres + ' ' +
                  conductor.Apellidos}}</option>
              </datalist>
            </div>
            <div class="input-group col-md-4">
              <label for="" class="label-form form-control" *ngIf="viewedConductor && viewedConductor._id">
                {{viewedConductor.Nombres}} {{viewedConductor.Apellidos}}
              </label>
            </div>
            <div class="input-group col-md-4">
              <label for="" class="label-form">Fecha de Ingreso: &nbsp;</label>
              <input type="date" name="" id="FechaIngreso" class="form-control">
            </div>
            <div class="input-group col-md-4">
              <label for="" class="label-form">Solicitud: &nbsp;</label>
              <input type="date" name="" id="Solicitud" class="form-control">
            </div>
            <div class="col-12" *ngIf="viewedOrdenTrabajo">
              <label for="" class="label-form"><strong>Vehículo: </strong></label>
              {{viewedOrdenTrabajo.Vehiculo.Marca}}
              {{viewedOrdenTrabajo.Vehiculo.Modelo}} del 
              {{viewedOrdenTrabajo.Vehiculo.Anio}} con Placa: 
              {{viewedOrdenTrabajo.Vehiculo.Placa}}
              <hr>
              <label for="" class="label-form"><strong>Solicitante: </strong></label>
              {{viewedOrdenTrabajo.Solicitante.Nombres}}
              {{viewedOrdenTrabajo.Solicitante.Apellidos}} con Cédula: 
              {{viewedOrdenTrabajo.Solicitante.Ci}}
              <hr>
              <label for="" class="label-form"><strong>Taller: </strong></label>
              {{viewedOrdenTrabajo.Taller.Nombre}} - 
              {{viewedOrdenTrabajo.Taller.RUC}} En la Dirección: 
              {{viewedOrdenTrabajo.Taller.Direccion}}
              <br>
              <table class="table-sm table-striped table-bordered table-responsive-sm col-12 mt-4">
                <thead>
                  <tr>
                    <th width="35%">Trabajo</th>
                    <th width="50%">Detalles</th>
                    <th width="8%">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trabajo of viewedTrabajoOrdenes">
                    <td> {{trabajo.Trabajo.Tipo}} {{trabajo.Trabajo.Descripcion}} </td>
                    <td> {{trabajo.Detalles}} </td>
                    <td> {{trabajo.Cantidad}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>