<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed"
    [class.logo-visible]="showInfoContent">
    <div class="d-flex flex-column w-100">
        <div id="info-content" class="panel-collapse collapse">
            <a class="close" data-toggle="collapse" href="#info-content" (click)="showInfoContent = !showInfoContent"
                [class.show]="showInfoContent">
                <span aria-hidden="true">&times;</span>
            </a>
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="d-flex justify-content-center align-items-center pt-md-0 pt-3 info">
                        <img src="assets/img/users/default-user.jpg" class="rounded-circle user-img">
                        <div class="d-flex flex-column pl-3">
                            <h5 class="mb-0">{{identity.Empleado.Nombres + ' ' + identity.Empleado.Apellidos}} <i hidden
                                    class="fa fa-check-circle fs-13 text-success ml-2"></i></h5>
                            <span>{{identity.Empleado.Cargo}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row py-4">
                        <div class="col-lg-7 col-sm-8 col-12 left-border">
                            <div class="info w-280p mx-auto text-center">
                                <form [formGroup]="form" (ngSubmit)="changePassword(form.value)" class="text-left mt-4">
                                    <div class="form-group">
                                        <input [formControl]="Anterior" type="password"
                                            class="form-control form-control-sm" placeholder="Contraseña Anterior">
                                        <small class="text-danger" *ngIf="form.get('Anterior').touched">
                                            <span *ngIf="form.get('Anterior').hasError('required')">Ingrese la
                                                Contraseña Anterior!</span>
                                            <span *ngIf="form.get('Anterior').hasError('shortPassword')">Contraseña Muy
                                                Corta</span>
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <input [formControl]="Contrase" type="password"
                                            class="form-control form-control-sm" placeholder="Contraseña">
                                        <small class="text-danger" *ngIf="form.get('Contrase').touched">
                                            <span *ngIf="form.get('Contrase').hasError('required')">Ingrese una Nueva
                                                Contraseña!</span>
                                            <span *ngIf="form.get('Contrase').hasError('minlength')">Contraseña muy
                                                corta, al menos 6 Caracteres</span>
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <input [formControl]="Confirmar" type="password"
                                            class="form-control form-control-sm" placeholder="Confirmar Contraseña">
                                        <small class="text-danger" *ngIf="form.get('Confirmar').touched">
                                            <span *ngIf="form.get('Confirmar').hasError('required')">Repita la Nueva
                                                Contraseña!</span>
                                            <span *ngIf="form.get('Confirmar').hasError('mismatchedPasswords')">Las
                                                Contraseñas no Coinciden</span>
                                        </small>
                                    </div>
                                    <button [disabled]="!form.valid" type="submit" class="btn btn-sm btn-gray"><i
                                            class="fa fa-edit mr-2"></i>Cambiar Contraseña</button>
                                </form>
                            </div>
                        </div>
                        <div hidden class="col-lg-5 col-sm-4 left-border d-none d-sm-block">
                            <div class="info w-100p mx-auto">
                                <button class="btn btn-gray" (click)="logout();">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Salir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center top-navbar">

            <a class="logo" routerLink="/" (click)="closeSubMenus()">
                <span class="ng">M</span>
                <!-- <span class="start">inisterio del</span>             -->
                <span class="ng">A</span>
                <!-- <span class="start">mbiente del</span>             -->
                <span class="ng">E</span>
                <!-- <span class="start">cuador</span>             -->
            </a>


            <span class="navbar-text menu-icon transition ml-3 mr-3" [ngClass]="{'open': settings.theme.showMenu}"
                (click)="settings.theme.showMenu = !settings.theme.showMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </span>

            <div class="ml-2 mr-2 d-none d-sm-block">
                <a id="info-content-icon" data-toggle="collapse" href="#info-content"
                    (click)="showInfoContent = !showInfoContent" class="d-flex" [class.show]="showInfoContent">
                    <div [@showInfo]="showInfoContent" class="triangle"></div>
                </a>
            </div>

            <!-- <form class="app-search d-none d-md-inline-block ml-3">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Type to search..." class="form-control">
            </form> -->

            <app-favorites class="d-none d-lg-inline-block"></app-favorites>

            <div class="top-rigth-icons ml-auto">
                <!-- <span class="d-none d-sm-inline-block">
                    <app-flags-menu></app-flags-menu>
                </span> -->
                <span class="d-none d-sm-inline-block">
                    <app-fullscreen></app-fullscreen>
                </span>
                <!-- <span class="d-none d-sm-inline-block">
                    <app-applications></app-applications>
                </span> -->
                <!-- <span class="d-none d-sm-inline-block">
                    <app-messages></app-messages>
                </span> -->
                <!-- <span class="d-none d-sm-inline-block pl-2 pr-2"
                    (click)="settings.theme.showSideChat = !settings.theme.showSideChat">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </span> -->
                <!-- <span class="d-none d-sm-inline-block">
                    <app-user-menu></app-user-menu>
                </span> -->
                <span class="pl-2 pr-2">
                    <a routerLink="/login" (click)="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </span>
            </div>

        </div>

        <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">
            <app-horizontal-menu *ngIf="showHorizontalMenu" [menuItems]="menuItems"></app-horizontal-menu>
            <app-vertical-menu *ngIf="!showHorizontalMenu" [menuItems]="menuItems"></app-vertical-menu>
        </div>

    </div>
</nav>