<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-registered" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2>Regístrate</h2>
                <a routerLink="/login" class="transition">¿Ya tienes una Cuenta?. ¡Inicia Sesión Ahora!</a>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input [formControl]="Ci" class="form-control validation-field" placeholder="Cédula de Identidad" type="text"> 
                        <small class="text-danger" *ngIf="form.get('Ci').touched">
                            <span *ngIf="form.get('Ci').hasError('required')">Cédula de Identidad Requerida!</span>
                            <span *ngIf="form.get('Ci').hasError('invalidCi')">Cédula Erronea</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="Nombres" class="form-control validation-field" placeholder="Nombres Completos" type="text"> 
                        <small class="text-danger" *ngIf="form.get('Nombres').touched">
                            <span *ngIf="form.get('Nombres').hasError('required')">Nombres Requeridos!</span>
                            <span *ngIf="form.get('Nombres').hasError('minlength')">Al menos 3 Caracteres</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="Apellidos" class="form-control validation-field" placeholder="Apellidos Completos" type="text"> 
                        <small class="text-danger" *ngIf="form.get('Apellidos').touched">
                            <span *ngIf="form.get('Apellidos').hasError('required')">Apellidos Requeridos!</span>
                            <span *ngIf="form.get('Apellidos').hasError('invalidPhone')">Al menos 3 Caracteres</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="Telefono" class="form-control validation-field" placeholder="Teléfono" type="text"> 
                        <small class="text-danger" *ngIf="form.get('Telefono').touched">
                            <span *ngIf="form.get('Telefono').hasError('required')">Teléfono Requerido!</span>
                            <span *ngIf="form.get('Telefono').hasError('wrongPhone')">Al menos 3 Caracteres</span>
                        </small>       
                    </div>
                    <div class="form-group">
                        <input [formControl]="Correo" class="form-control validation-field" placeholder="Correo Electrónico" type="text"> 
                        <small class="text-danger" *ngIf="form.get('Correo').touched">
                            <span *ngIf="form.get('Correo').hasError('required')">Correo Electrónico Requerido!</span>
                            <span *ngIf="form.get('Correo').hasError('invalidEmail')">Correo Electrónico Incorrecto</span>
                        </small> 
                    </div>
                    <div class="form-group">
                        <input [formControl]="Contrase" class="form-control validation-field" placeholder="Contraseña" type="password" minlength="6">
                         <small class="text-danger" *ngIf="form.get('Contrase').touched">
                            <span *ngIf="form.get('Contrase').hasError('required')">Contraseña Requerida</span>
                            <span *ngIf="form.get('Contrase').hasError('minlength')">Contraseña muy corta, al menos 6 Caracteres</span>
                        </small>                     
                    </div>
                    <div class="form-group">
                        <input [formControl]="ConfirmContrase" class="form-control validation-field" placeholder="Confirmar la Contraseña" type="password">
                        <small class="text-danger" *ngIf="form.get('ConfirmContrase').touched">
                            <span *ngIf="form.get('ConfirmContrase').hasError('required')">SE necesita Confirmar la Contraseña</span>
                            <span *ngIf="form.get('ConfirmContrase').hasError('mismatchedPasswords')">Las Contraseñas no Coinciden</span>
                        </small> 
                    </div>
                    <!-- <div class="form-group">
                        <p class="terms">By creating an account, you agree our <a class="transition terms" href="javascript:void(0);">Terms & Privacy Policy</a></p>                  
                    </div>              -->
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-block" type="submit">Registrarse</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>