<div class="sidebar-outer">
    <a class="logo d-flex align-items-center" routerLink="/" (click)="closeSubMenus()" *ngIf="settings.theme.sidebarIsFixed">
        <span class="ng">M</span>
        <!-- <span class="start">inisterio del</span>             -->
        <span class="ng">A</span>
        <!-- <span class="start">mbiente del</span>             -->
        <span class="ng">E</span>
        <!-- <span class="start">cuador</span>   -->
    </a>
    <app-vertical-menu [menuItems]="menuItems"></app-vertical-menu>    
</div>