<div class="col-lg-12 row">
    <div class="col-md-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">
            Formulario de Orden de Combustible
          </h5>
          <div class="widget-controls"> 
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
            <!-- <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> -->
          </div> 
        </div>
        <div class="card-body widget-body bg-light">
          <form class="container row">
            <label for="" class="label-form col-md-4">Ci:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Nombres:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Apellidos:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Telefono:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Ciudad:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Direccion:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
          <h5 class="mb-0">
           Formulario de Orden de Combustible
          </h5>
          <div class="widget-controls"> 
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
            <!-- <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> -->
          </div> 
        </div>
        <div class="card-body widget-body bg-light">
          <form class="container row">
            <label for="" class="label-form col-md-4">Ci:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Nombres:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Apellidos:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Telefono:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Ciudad:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
            <label for="" class="label-form col-md-4">Direccion:*</label>
            <div class="input-group col-md-8 mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>